@charset "utf-8";
/* CSS Document */
body{
	background:url(imgs/cardapio.jpg);
	font-family: 'Kosugi Maru', sans-serif;
	font-size:16px;
	padding:1em;
	text-align:left;
}

#corpo{
	background-color:#FFFFFF;
	width:510px;
	height:100%;
	padding:1em;
	margin:0 auto;
	border-radius:15px;
	box-shadow:#000000 5px 5px 5px;
	margin-top:10px;

}
input{
	margin-top:10px;
	border-radius:5px;
	padding:0.5em;
		
}

input[type=submit] {
	color:#FFF;
	border-radius:2px;
	background:#000;
	box-shadow:#929292 5px 5px 5px;
}

input[type=reset] {
	color:#FFF;
	border-radius:2px;
	background:#000;
	box-shadow:#929292 5px 5px 5px;
}

#banner{
	background:url(imgs/cardapio.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	width:500px;
	height:150px;
	/*padding:;*/
	margin:0 auto;
}
#title{
	font-family: 'Lato', sans-serif;
	text-align:center;
	
}

select{
  width:400px;
  margin-top:10px;
	border-radius:5px;
	padding:0.5em;
  
}

#botão{
	margin-left:150px;
}